# git ignore file for Apache project

intermediate/
target/
build/config.mak
build/Makefile.version

# Unit test files
build/cppunit_result.log
build/cppunit_result.xml
build/scxtestrunner.log
test/code/providers/providertestutils.cpp
